<!DOCTYPE html>
<html>
<head>
  <title>Nutrition Tracker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to Nutrition Tracker</h1>
  <a href="/log">Log a Meal</a><br>
  <a href="/meals">View Logged Meals</a>
</body>
</html>