<!DOCTYPE html>
<html>
<head>
  <title>Log a Meal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Log a Meal</h1>
  <form action="/log" method="POST">
    <label for="food">Enter a food (e.g. 1 cup rice):</label><br>
    <input type="text" id="food" name="food" required><br><br>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to Home</a>
</body>
</html>